#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.dialog-box {
  position: absolute;
  font-family: "Grandstander", serif;
  padding: 40px;
  min-width: 320px;
  width: max-content;
  max-width: 520px;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(/images/dialog-bg.png);
  background-size: 100% 100%;
  color: #1e1e1e;
  display: flex;
  justify-content: center;
  /* pointer-events: none; */
  flex-direction: column;
}

.dialog-box .dialog-author {
  background-image: url(/images/dialog-author-bg.png);
  background-size: 100% 100%;
  color: #fefcd6;
  position: absolute;
  text-align: center;
  top: 0;
  left: 40px;
  padding: 15px 20px;
  min-width: 100px;
  transform: translateY(-50%);
}

.dialog-box .dialog-close {
  position: absolute;
  border-radius: 5px;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
}

.dialog-box .dialog-text {
  transform: translateY(5px);
}

.dialog-box .dialog-text p {
  display: inline-block;
  margin: 0;
}

.dialog-next {
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  right: 50%;
  transform: translate(-50%, 50%);
  background-color: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #ffffff;
}

.dialog-box .animated-letter {
  margin: 0;
  margin-right: 1px;
  font-size: 16px;
}
